<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
		      <link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/general.css') }}"/>
		    	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/header.css') }}"/>
		    	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/page.css') }}"/>
		    	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/index.css') }}"/>
      	{% endblock %}
        <title> Science infuse </title>
    </head>
    <body>
    {% include 'header.html.twig' %}
   	<div class="page-content">
          <div class="content box-shadow color-black background-color-white padding-large left-align page-font-size">
            <h2 class="principal-title">Vos Brouillons</h2>
            {% if empty is not defined %}
            {% for result in all_draft %}
              <fieldset class="index-elt">
                <legend class="index-elt-title text-bold"><a class="link-event hover-grey" href="">{{result.titre}}</a></legend>
                <img src="{{ asset('uploads/images/' ~ result.image) }}" href=""/>
                <p class="descrption margin-left-large">{{ result.description|length > 50 ? result.description|slice(0, 100) ~ '...' : result.description  }}</br>
                <a href="/draft/publish/{{result.id}}">Publier</a>
                <a href="/draft/modify/{{result.id}}">Modifier</a>
                <a href="/draft/remove/{{result.id}}">Supprimer</a>
                </p>
              </fieldset>
            {% endfor %}
            {%else%}
              <p class="text"/><center>Aucun brouillons</center></p>
            {%endif%}
          </div>
   		 		<div class="internal-nav box-shadow padding-right-large background-color-white">
       			<ul class="nav-block nav-block-grey right-align padding-large block">
              {% if app.user.username is not defined %}
      				<li><img src="{{ asset('bundles/framework/images/logo-media.png')}}"/><a class="hover-bold" href="{{path('login')}}">Connexion</a></li>
      				<li><img src="{{ asset('bundles/framework/images/logo-registration.png')}}"/><a class="hover-bold" href="{{path('registration')}}">Inscription</a></li>
              {% else %}
              {% include 'usernav.html.twig' %}
              {% endif %}
    				</ul>
    			</div>
    </div>
	</body>
</html>
