<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
		      <link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/general.css') }}"/>
		    	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/header.css') }}"/>
		    	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/page.css') }}"/>
		    	<link type="text/css" rel="stylesheet" href="{{ asset('bundles/framework/css/index.css') }}"/>
      	{% endblock %}
        <title> Science infuse </title>
    </head>
    <body>
    <div class="header">
			<ul class="navbar navbar-black navbar-card-2 left-align  inline">
				<li><a class= "padding-large" href=""><img src="{{ asset('bundles/framework/images/logo-test.png') }}"/></a></li>
     		<li><a class ="padding-large hover-grey" href="{{ path('back-office') }}">Back office</a></li>
     	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<li><a class ="padding-large hover-grey" href="{{ path('presentation') }}">Qui sommes-nous ?</a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	
			</ul>
		</div>
   	<div class="page-content">
          <div class="content box-shadow color-black background-color-white padding-large left-align page-font-size">
          	<fieldset class="index-elt">
             	<legend class="index-elt-title text-bold hover-grey"><a class="link-event hover-grey" href="">Aperçu evenement 1</a></legend>
          		<p class="description margin-left-large">Description event1</br><a href="">Learn more...</a></p>
             </fieldset>
          	<fieldset class="index-elt">
             	<legend class="index-elt-title text-bold hover-grey"><a class="link-event hover-grey" href="">Aperçu evenement 2</a></legend>
             	<img src="{{ asset('bundles/framework/images/logo-test.png') }}" href=""/>
          		<p class="description margin-left-large">Description event2</br><a href="">Learn more...</a></p>
             </fieldset>
          	<fieldset class="index-elt">
             	<legend class="index-elt-title text-bold hover-grey"><a class="link-event hover-grey" href="">Aperçu evenement 3</a></legend>
          		<p class="description margin-left-large">Description event3</br><a href="">Learn more...</a></p>
             </fieldset>
          </div>
   		 		<div class="internal-nav box-shadow padding-right-large background-color-white">
       			<ul class="nav-block nav-block-grey right-align padding-large block">
      				<li><a class="hover-bold" href="">Charte graphique / feuilles de style : Paul</a></li>
      				<li><a class="hover-bold" href="">Schéma relationnel de la base de données : Amélie</a></li>
      				<li><a class="hover-bold" href="">Partie responsive, intégration de la navigation circulaire : Alexis</a></li>
    				</ul>
    			</div>
    </div>
	</body>
</html>
