<!DOCTYPE html>

<html>
    <head>
      <meta charset="UTF-8" />
      {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/general.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/header.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/page.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/index.css') }}"/>
      {% endblock %}
      <title> Science infuse </title>
    </head>
    <body>
    {% include 'header.html.twig' %}
   	<div class="page-content">
          <div class="content box-shadow color-black background-color-white padding-large left-align page-font-size">
            <h2 class="principal-title">{{result.titre}}</h2>
            <p class="text"><img src="{{ asset('/bundles/science-infuse/uploads/images/' ~ result.image) }}"/></p>
            <h3 class="subtitle">Posté par</h3>
            <p class="text">{{result.user.username}}</p>
            <h3 class="subtitle">Date</h3>
            <p class="text">{{result.date|date("d/m/Y")}}</p>
            <h3 class="subtitle">Description</h3>
            <p class="text">{{result.description}}</p>
          </div>
   		 		<div class="internal-nav box-shadow padding-right-large background-color-white">
       			<ul class="nav-block nav-block-grey right-align padding-large block">
              {% include 'usernav.html.twig' %}
              {% include 'actionnav.html.twig'%}
              <li><img src="{{ asset('bundles/science-infuse/images/logo-info.png')}}"/><a class="hover-bold" href="">Infos</a></li>
      				<li><img src="{{ asset('bundles/science-infuse/images/logo-forum.png')}}"/><a class="hover-bold" href="">Forum</a></li>
      				<li><img src="{{ asset('bundles/science-infuse/images/logo-link.png')}}"/><a class="hover-bold" href="">Liens Externes</a></li>
    				</ul>
    			</div>
    </div>
	</body>
</html>
