<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
      <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/general.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/header.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/page.css') }}"/>
      <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/index.css') }}"/>
    {% endblock %}
    <title> Science infuse </title>
</head>
  <body>
    {% include 'header.html.twig' %}
    </br></br>
    <div class="registration padding-large background-color-white box-shadow">
      {# app/Resources/views/backoffice/new.html.twig #}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  </body>
</html>
