<!DOCTYPE html>

<html>
    <head>
      <head>
          <meta charset="UTF-8" />
          {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/general.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/header.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/page.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/science-infuse/css/form.css') }}"/>
          {% endblock %}
          <title> Back office </title>
      </head>
      <body>
        {% include 'header.html.twig' %}
        <div class="registration padding-large background-color-white box-shadow">
          <fieldset>
          <legend>Inscription</legend>
          {{ form_start(form)}}
              {{ form_row(form.username) }}
              {{ form_row(form.email) }}
              {{ form_row(form.plainPassword.first) }}
              {{ form_row(form.plainPassword.second) }}

              <button type="submit">Register!</button>
          {{ form_end(form) }}
          </fieldset>
        </div>
    </body>

</html>
